<div class="container">
    <div class="row">
        <h2 id="header-1">What is Github used for?</h2>
        <div class="col-md-4" id="for-image">
            <img src="assets/Gitige.jpeg">

        </div>
        <div class="col-md-8">
            <p class="p1">
                There’s a good chance you’ve heard of GitHub if you’re in the tech space, even if you’re not a developer by trade. You might have even stumbled across a GitHub repository or two when learning about software or web development.

                Still, GitHub can seem perplexing if you’ve never used it. Is it a cloud storage site? A social networking site for programmers? A code-sharing site? As it turns out, the answer to all of these is yes, and more.

               Today, GitHub is one of the most popular resources for developers to share code and work on projects together. It’s free, easy to use, and has become central in the movement toward open-source software.
               GitHub is an online software development platform used for storing, tracking, and collaborating on software projects. It enables developers to upload their own code files and to collaborate with fellow 
               developers on open-source projects. GitHub also serves as a social networking site in which developers can openly network, collaborate, and pitch their work.

            </p>
            
        </div>
    </div>
</div>